---
import Beimax from "@assets/beimax.webp";
import Heartstrings from "@assets/heartstrings.webp";
import Interstates from "@assets/interstates.webp";
import LifeInAVaccum from "@assets/life in a vaccum.webp";
import MrMorale from "@assets/mr morale.webp";
import Tetsuo from "@assets/tetsuo.webp";
import Tpab from "@assets/tpab.webp";
import Album from "@components/album.astro";
import Albums from "@components/albums.astro";
import Card from "@components/card.astro";
import Layout from "@layouts/Layout.astro";
import TopTrack from "@components/topTrack.astro";
---

<Layout title="<mark>About Me</mark>" subtitle="20 years old, Australia">
	<Card variant="border">
		New to any sort of programming, so please bear with me as I try to
		figure out what I'm doing. I hope to get better at Javascript
		specifically. <br /><br />
		I'm a huge music nerd and love discovering and listening to new music constantly,
		it's one of my biggest hobbies. Some of my favorite artists include: Default(缺省),
		Marjorie -W.C.Sinclair, Kendrick Lamar, lexycat, Sampha & Linkin Park! <br
		/>
		<br />
		I'm also quite into manga, and super into One Piece specifically, talk to
		me about it. You can find out other stuff I read on
		<a href="https://myanimelist.net/profile/clairegaming942" class="link">
			MyAnimeList
		</a> :)
	</Card>
	<br />
	<h3>Favorite Albums</h3>
	<Albums>
		<Album
			href="https://www.last.fm/music/Marjorie+-W.C.+Sinclair/Beimax+Chessclub"
			pfp={Beimax}
		/>
		<Album
			href="https://www.last.fm/music/%E7%BC%BA%E7%9C%81/Life+In+A+Vacuum"
			pfp={LifeInAVaccum}
		/>
		<Album
			href="https://www.last.fm/music/Kendrick+Lamar/Mr.+Morale+&+the+Big+Steppers"
			pfp={MrMorale}
		/>
		<Album
			href="https://www.last.fm/music/lexycat/heartstrings"
			pfp={Heartstrings}
		/>
		<Album
			href="https://www.last.fm/music/Lupe+Fiasco/Tetsuo+&+Youth"
			pfp={Tetsuo}
		/>
		<Album
			href="https://www.last.fm/music/Kendrick+Lamar/To+Pimp+a+Butterfly"
			pfp={Tpab}
		/>
		<Album
			href="https://www.last.fm/music/abriction/Interstates"
			pfp={Interstates}
		/>
	</Albums>
	<br />
	<section>
		<sub>
			You can find more on my
			<a class="link" href="https://ibb.co/rCq9b3t">Topster</a>
		</sub>
	</section>
	<h3>Weekly Top Track</h3>
	<TopTrack />
	<br />
</Layout>
